{
  "server": "{{ shadowsocks_server }}",
  "server_port": {{ shadowsocks_server_port }},
  "password": "{{ shadowsocks_password }}",
  "method": "{{ shadowsocks_method }}",
  "mode": "tcp_and_udp",
  "local_address": "{{ shadowsocks_local_address }}",
  "local_port": {{ shadowsocks_local_port }}
}
