[Interface]
PrivateKey = {{ wireguard_peer_private_key }}
Address = {{ wireguard_peer_address }}

[Peer]
PublicKey = {{ wireguard_public_key }}
Endpoint = {{ wireguard_endpoint }}:{{ wireguard_port }}
AllowedIPs = {{ wireguard_local_network }}, {{ wireguard_network }}
PersistentKeepalive = 25
